* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(73, 73, 73);
}

#content1 {
    border-radius: 10px;
    background-color: aquamarine;
    height: 45rem;
    width: 100%;
}

nav {
    height: 3rem;
    width: 100%;
}

.navi {
    display: flex;
    flex-direction: row;
}

[class^="table"]{
    color: white;
    font-size: small;
    font-style: normal;
    text-align: left;
}

[class^="table"] th {
    color: greenyellow;
}

[class^="table"] th, [class^="table"] td {
    padding: 12px 15px;
}

.foot {
    display: flex;
    justify-content: center;
}

#green {
    color: rgb(0, 255, 64);
}

[class^="nav"]{
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.l_nav {
    margin-right: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.m_nav {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.r_nav {
    margin-left: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    }


nav {
    margin-top: 1em;
    padding-top: 0,5em;
    padding-bottom: 0,5em;
}

nav div {
    border-radius: 1em;
    color: aliceblue;
}

nav div div div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav div div div :hover {
    cursor:pointer;
    color: rgb(97, 165, 255);
    text-decoration:underline;
}
