* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(73, 73, 73);
    font-size: large;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, button {
    border-radius: 1em;
    color: azure;
}

#content1 img {
    border-radius: 45px;
}

fieldset {
    border-style: none;
    border-color: azure;
}

h1, p {
    color: azure;
}

 label {
    width: 200px;
    color: azure;
    margin-right: 10px;
    font-size: 10;

}

#pass {
    color: azure;
}

.datareset {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formboard {
    max-width: 550px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
}

.formboard .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: azure;
    text-transform: uppercase;
    text-align: center;
}

.formboard .form {
    width: 100%;
    padding-bottom: 10%;
}

.input_field {
    display: flex;
    align-items: center;
}

.formboard .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.formboard .form .input_field label {
    width: 200px;
    color: azure;
    margin-right: 10px;
    font-size: 10;

}

.formboard .form .input_field input {
    width: 100%;
    outline: none;
    border: 1.9px solid wheat;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 15px;
    
}

.formboard .form .input_field input:focus {
    border-color: rgb(82, 189, 255);
}

.formboard .form .input_field .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: greenyellow;
    color:black;
    cursor: pointer;
    border-radius: 8px;
}

.formboard .form .input_field .btn:hover {
    background: rgb(82, 189, 255);
    color: white;
}

@media (max-width: 420px) {
    .navi {
        flex-direction: column;
        align-items: flex-start;
    }

    .formboard .form .input_field {
        flex-direction: column;
        align-items: flex-start;
    }
    .formboard .form .input_field label {
        margin-bottom: 5px;
    }
}

nav {
    height: 3rem;
    width: 100%;
}

.navi {
    display: flex;
    flex-direction: row;
}

[class^="table"]{
    color: white;
    font-size: small;
    font-style: normal;
    text-align: left;
}

[class^="table"] th {
    color: greenyellow;
}

[class^="table"] th, [class^="table"] td {
    padding: 12px 15px;
}

.foot {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

hr {
    width: calc(100%-1em);
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#green {
    color: greenyellow;
}

[class^="nav"]{
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.l_nav {
    margin-right: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.m_nav {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.r_nav {
    margin-left: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    }


nav {
    margin-top: 1em;
    padding-top: 0,5em;
    padding-bottom: 0,5em;
}

nav div {
    border-radius: 1em;
    color: aliceblue;
}

nav div div div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav div div div :hover {
    cursor:pointer;
    color: rgb(97, 165, 255);
    text-decoration:underline;
}
