table, th, td { 
    border: 1px solid rgb(10, 7, 32); 
    border-collapse: collapse;
    }

th, td { 
    padding: .2em .5em; 
    }

th:empty {
    background-color: rgb(255, 255, 255);
    }

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

#zeile1 {
    color: white;
    background-color: rgb(59, 59, 59);
}

#red {
    color: red;
}
